.focus__timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.clock {
  color: var(--fontColor);
  margin-right: 15px;
  border: var(--fontColor) outset;
  padding: 5px;
  font-family: digital-7;
  background: var(--clockColor);
}

.clock__hide__colon {
  color: var(--clockColor);
}

@media only screen and (max-width: 800px) {
  .focus__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
