:root {
  /* elegant */
  --elegant-clockColor: #8a6626;
  --elegant-fontColor: #efc8b1;
  --elegant-backgroundColor: #efc8b1;

  /* dependable */
  --dependable-clockColor: #241f1c;
  --dependable-fontColor: #937047;
  --dependable-backgroundColor: #937047;

  /* friendly */
  --friendly-clockColor: #bdfff6;
  --friendly-fontColor: #e23c52;
  --friendly-backgroundColor: #e23c52;

  /* laid-back */
  --laid-back-clockColor: #4d3227;
  --laid-back-fontColor: #ebc999;
  --laid-back-backgroundColor: #ebc999;

  --deg: 180deg;

  --clockColor: var(--elegant-clockColor);
  --fontColor: var(--elegant-fontColor);
  --backgroundColor: var(--elegant-backgroundColor);
}

.focus__container {
  background-color: var(--backgroundColor);
  border-bottom: var(--clockColor) solid;
  box-shadow: var(--clockColor) 0px, 1px, 10px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--clockColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
}

.focus__container > div {
  display: inline-flex;
}

@font-face {
  font-family: digital-7;
  src: url(../../fonts/digital-7.ttf);
}

@media only screen and (max-width: 370px) {
  .focus__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -moz-transform: translateY(-30%) scale(0.5);
    transform: translateY(-30%) scale(0.5);
  }

  .focus__theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: var(--clockColor) solid;
    border-bottom: var(--clockColor) solid;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .focus__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
